<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head")  %> 
    <title>No tienes permiso</title>
</head>
<body class="body__black">
    <div class="auth__cont">
        <h1 class="detail__name">No tienes permisos para acceder a la edicion del Curriculum</h1>
        <div class="detail__btncont auth__btncont">
            <a href="./">
                <button class="detail__btn">Volver</button>
            </a>
        </div>
        <div class="detail__btncont auth__btncont">
            <a href="./login">
                <button class="detail__btn">Login</button>
            </a>
        </div>
    </div>
</body>
</html>