<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head")  %> 
    <title>error de invitado</title>
</head>
<body class="body__black">
    <div class="auth__cont">
        <h1 class="detail__name">Ya estas loggeado en la pagina</h1>
        <div class="detail__btncont auth__btncont">
            <a href="./">
                <button class="detail__btn">Volver</button>
            </a>
        </div>
        <div class="detail__btncont auth__btncont">
            <a href="./edit">
                <button class="detail__btn">Editar</button>
            </a>
        </div>
    </div>
</body>
</html>