<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head")  %> 
    <title>Ignacio Maldonado CV</title>
</head>
<body>
    <%- include ('./partials/aside') %>
    <%- include ('./partials/experience') %>
</body>
</html>