<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head")  %> 
    <title>Password change</title>
</head>
<body class="body__black">
    <div class="auth__cont">
        <h1 class="detail__name">Modificar la clave</h1>
        <form class="form" action="./password?_method=PUT" method="POST">
            <div class="form__cont">
                <label class="form__label pass__" for="password">Introduzca una nueva contraseña</label>
                <input class="form__input" type="password" id="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*[0-9])[A-Za-z0-9]{8,15}$" placeholder="********" oninvalid="this.setCustomValidity('La contrasenia debe tener una letra, un numero y tener un rango de 8 a 15 caracteres')" oninput="setCustomValidity('')">
                <p class="contact__text">* La contraseña debe tener al menos una letra, un numero y un rango de 8 a 15 caracteres</p>
            </div>   
            <div class="form__btncont">
                <button type="submit" class="form__btn">Change password</button>
            </div> 
        </form>
        <div class="detail__btncont auth__btncont">
            <a href="./">
                <button class="detail__btn">Volver</button>
            </a>
        </div>
    </div>
</body>
</html>


